.App {
  text-align: center;
}

.output{
  position: relative;
  left: 25vw;
  width: 50vw;
  background-color: rgba(173, 185, 171, 0.695);
  color: rgb(3, 77, 3);
  border-radius: 1.5em;
  padding: 1em;
  box-shadow: 2px 8px 1em rgb(79, 87, 77);
}

.output>li{
  list-style: none;
  text-align: start;
}